#divEvents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  top: 0em;
  width: 100%;
  height: auto;
  background-color: black; 
  margin-bottom: 40px;
  padding: 40px 10px 60px;
  gap: 15px;
}

#cardEventHome {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 490px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  background-color: #000000;
}

#divTop {
  width: 100%;
  height: auto;
}

#cardEventImg {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

#divBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  color:#c0bb94;
  font-size: 18px;
}

span {
  display: flex;
  justify-content: center;
  color:whitesmoke;
  font-size: 12px;
}

#category {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #4a6a82;
}

#category:hover {
  cursor: pointer;
  color: #f3b09f;
}

.divBlueRedButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#detailsButton, .joinButton, #participantButton {
  width: 8em;
  height: 20px;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color:#9c4c46 ;
  color: white;
  transition: 0.6s ease;
}

#detailsButton {
  background-color:#4a6a82 ;
}

.joinButton:hover, #detailsButton:hover, #participantButton:hover {
  color: black;
  cursor:pointer;
}

#flechaArriba {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 6em;
  right: 3em;
  border-radius: 50%;
}

#flechaArriba {
  cursor: pointer;
}


/* ESTILOS PARA OPCIONES DE ADMIN AL "VER MÃS"*/

#divBottomDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30px;
}

#divCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: #81aaca;
  width: 200px;
  height: 30px;
  gap: 10px;
  padding: 10px;
}


#deleteAdminButton, #editAdminButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: rgb(70, 66, 66);
  color: #C0BB94;
  border-style: none;
  border-radius: 5px;
}

#seeParticipantsButton {
  display: block;
  align-content: center;
  width: 40px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  background-color: #81aaca;
}


#deleteAdminButton:hover, #editAdminButton:hover, #seeParticipantsButton:hover {
  cursor: pointer;
}


#counterImg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#counterDiv {
  display: none;
  position: absolute;
  top: 22em;
  background-color: rgb(70, 66, 66);
  border-radius: 3px;
  width: 300px;
  height: 60%;
}

#desplegarParticipantes {
  display: flex;
  justify-content: start;
  text-align: start;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

#desplegarParticipantes > li {
  color: rgb(216, 211, 211);
  font-size: 14px;
}

#xButton {
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 40px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(70, 66, 66);
  color: white;
}

#xButton:hover {
  cursor: pointer;
}



/* ---------------------- MEDIA QUERIES -------------------------*/

@media screen and (max-width: 480px) {

  #divEvents {
    padding: 10px 10px 60px;
  }

  #cardEventHome {
    width: 100%;
    height: 470px;
    padding: 10px;
  }

  #cardEventImg {
    width: 100%;
    height: 290px;
    object-fit: cover;
  }

  #divCardDetail {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px ;
  }

  #divDetailImg {
    width: 100%;
    height: auto;
  }

  #divDetails {
    width: 100%;
    height: auto;
    padding-top: 20px;
    text-align: justify;
    gap: 10px;
  }

  #xButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 35px;
    height: 25px;
  }

  h3 {
    font-size: 14px;
  }

  span, #category {
    font-size: 10px;
  }

  #descriptionParagraph {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  
  #divBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    gap: 10px;
  }

  #divBottomDetails {
    gap: 10px;
    height: 50px;
  }

  #detailsButton, .joinButton, #participantButon {
    width: 7em;
  }

  #deleteAdminButton, #editAdminButton {
    width: 100px;
    height: 18px;
    font-size: 8px;
  }

  #divCounter {
    padding: 0;
    font-size: 14px;
  }

  #seeParticipantsButton {
    width: 30px;
    height: 28px;
  }

}


@media screen and (min-width: 480px) and (max-width: 768px) {
  #divEvents {
    padding: 10px 10px 60px;
  }

  #cardEventHome {
    width: 100%;
    height: 470px;
    padding: 10px;
  }

  #cardEventImg {
    width: 100%;
    height: 290px;
    object-fit: cover;
  }

  #divCardDetail {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px ;
  }

  #divDetailImg {
    width: 100%;
    height: auto;
  }

  #divDetails {
    width: 100%;
    height: auto;
    padding-top: 20px;
    text-align: justify;
    gap: 10px;
  }

  #xButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 30px;
  }

  h3 {
    font-size: 18px;
  }

  span, #category {
    font-size: 12px;
  }

  #descriptionParagraph {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }


  #divBottomDetails {
    height: 80px;
  }

  #detailsButton, .joinButton, #participantButon {
    width: 7em;
  }

  #deleteAdminButton, #editAdminButton {
    width: 100px;
    height: 28px;
    font-size: 12px;
  }

  #divCounter {
    padding: 0;
    font-size: 16px;
  }

}


@media screen and (min-width: 769px) and (max-width: 1023px) {

  #divEvents {
    padding: 40px 10px 60px;
  }

  #cardEventHome {
    width: 45%;
    height: 480px;
    padding: 10px;
  }

  #divCardDetail {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px ;
  }

  #divDetailImg {
    width: 100%;
    height: auto;
  }

  #cardImg {
    width: 100%;
    height: 300px; 
  }

  #divDetails {
    width: 100%;
    padding-top: 20px;
    text-align: justify;
    gap: 12px;
    padding: 40px 20px;
  }

  #divBottomDetails {
    height: 90px;
  }

  h3 {
    font-size: 18px;
  }

  span, #category {
    font-size: 14px;
  }

  #descriptionParagraph {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  #deleteAdminButton, #editAdminButton {
    width: 140px;
    height: 28px;
    font-size: 11px;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  #divEvents {
    padding: 40px 10px 60px;
  }

  #cardEventHome {
    width: 45%;
    height: 500px;
    padding: 10px;
  }

  #divCardDetail {
    display: flex;
    padding-bottom: 20px ;
  }

  #divDetailImg {
    width: 50%;
    height: auto;
  }

  #cardImg {
    height: 330px;
  }

  #divDetails {
    width: 50%;
    height: auto;
    padding: 20px;
    text-align: justify;
    gap: 15px;
  }

  #xButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 30px;
  }

  #descriptionParagraph {
    padding: 10px 20px;
    font-size: 14px;
  }

  #divBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: 6px;
  }
 
  #detailsButton, .joinButton, #participantButon {
    width: 9em;
    height: 28px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    transition: 0.6s ease;
  }

  h3 {
    font-size: 18px;
  }

  span, #category {
    font-size: 14px;
  }

  #divBottomDetails {
    gap: 10px;
  }

  #deleteAdminButton, #editAdminButton {
    width: 100px;
    height: 28px;
    font-size: 12px;
  }

}