#divEvents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  top: 0em;
  width: 100%;
  height: auto;
  background-color: black; 
  margin-bottom: 50px;
  padding: 40px 10px 60px;
  gap: 15px;
}

#cardEventHome {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 490px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  background-color: #000000;
}

.divTop {
  width: 100%;
  height: auto;
}

.divTop > img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}


.divMiddle {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: #5554544a;
  border-radius: 5px;
}

.divBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 10px;
}

.divBlueRedButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#category {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #4a6a82;
}

#category:hover {
  cursor: pointer;
  color: #f3b09f;
}


#detailsButton, .joinButton, #participantButton {
  width: 7em;
  height: 20px;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color:#9c4c46 ;
  color: black;
  transition: 0.6s ease;
}

#detailsButton {
  background-color:#4a6a82 ;
}

#participantButton {
  width: 8em;
  color: whitesmoke;
}

.joinButton:hover, #detailsButton:hover {
  color: white;
  cursor:pointer;
}

#participantButton:hover {
  color: black;
  cursor:pointer;
}


h3 {
  display: flex;
  justify-content: center;
  color:#c0bb94;
  font-size: 18px;
}

span {
  display: flex;
  justify-content: center;
  color:whitesmoke;
  font-size: 12px;
}

#divCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #81aaca;
  width: 200px;
  height: 30px;
  gap: 10px;
  padding: 10px;
}


#deleteAdminButton, #editAdminButton, #seeParticipantsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: rgb(70, 66, 66);
  color: #C0BB94;
  border-style: none;
  border-radius: 5px;
}

#seeParticipantsButton {
  display: block;
  align-content: center;
  width: 40px;
  height: 30px;
  background-color: #81aaca;
}

#counterImg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#deleteAdminButton:hover, #editAdminButton:hover, #seeParticipantsButton:hover {
  cursor: pointer;
}

#ulCounterDiv {
  display: none;
  position: relative;
  right: 5em;
  top: 2em;
  background-color: #4a6a82;
  border-radius: 3px;
  width: 300px;
  height: 150px; /*DEBERÃ SER AUTO*/
}

#desplegarParticipantes {
  overflow-y: auto;
}

#flechaArriba {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 6em;
  right: 3em;
  border-radius: 50%;
}

#flechaArriba {
  cursor: pointer;
}


/* DETALLES DEL EVENTO AL ABRIR EVENTO */

#divCardDetail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: black;
}

#divDetailImg {
  width: 50%;
  height: 360px;
}

#divDetailImg > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.divDetails {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 18px;
  width: 50%;
  height: auto;
}

#xButton {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 40px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(70, 66, 66);
  color: white;
}

#xButton:hover {
  cursor: pointer;
}

#descriptionParagraph {
  padding: 20px 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:100;
  color:rgb(216, 211, 211);
  font-size: 0.8em;
}

.divBottomDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30px;
}


/* ---------------------- MEDIA QUERIES -------------------------*/

@media screen and (max-width: 480px) {

  #divEvents {
    padding: 10px;
  }

  #cardEventHome {
    width: 100%;
    height: 440px;
    padding: 10px;
  }
    /* DETALLES DEL EVENTO AL ABRIR EVENTO */

  #divCardDetail {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px ;
  }

  #divDetailImg {
    width: 100%;
    height: auto;
  }

  .divDetails {
    width: 100%;
    height: auto;
    padding-top: 20px;
    text-align: justify;
    gap: 10px;
  }

  #descriptionParagraph {
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .divBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    gap: 15px;
  }

 
  #detailsButton, .joinButton, #participantButon {
    width: 6em;
    height: 18px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    transition: 0.6s ease;
  }

  h3 {
    font-size: 14px;
  }

  span, #category {
    font-size: 10px;
  }

  .divBottomDetails {
    gap: 10px;
}

  #deleteAdminButton, #editAdminButton {
    width: 140px;
    height: 22px;
    font-size: 11px;
  }

  #flechaArriba {
    width: 40px;
    height: 40px;
    bottom: 4.5em;
    right: 2.5em;
  }

}