.divError {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

.pError {
    color: white;
    font-size: 14px;

}